*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: indigo;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}


.carrinho{
    margin: 15px;
}
.titulo{
    text-align: center;
}
ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.tipo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px;
    margin-top: 0;
}
.tipo img{
    width: 80px;
    height: 80px;
}
.tipo a{
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.tipo a:hover{
    transform: scale(0.9);
    cursor: pointer;
    color: indigo;
}

