*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: indigo;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
}
.carrinho{
    margin: 15px;
}
.titulo{
    text-align: center;
}
ul{
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: 2px double black;
}
.tipo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    margin-top: 10px;

}
.tipo img{
    width: 80px;
    height: 80px;
}
.tipo a{
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.tipo a:hover{
    transform: scale(0.9);
    cursor: pointer;
    color: indigo;
}
.mural{
    text-decoration: none;
    list-style: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
}
.cima{
    flex-direction: row;
}